
<p><i><%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago </i>
	<% if policy(comment).destroy? %>
	| <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
	<% end %>
<br><%= comment.body %></p>	




 

	